:root {
	--header-height: 2.75rem;
	--red: #ff0036;
	--pink: #d30ed1;
	--black: #090909;
}

@font-face {
	font-family: 'Gotham';
	src: url('./fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
	font-family: 'GothamBolder';
	src: url('./fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
	font-family: 'GothamBold';
	src: url('./fonts/Gotham-Bold.otf') format('opentype');
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Gotham !important;
	background: #fff;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}

@media print {
	.no-print,
	.no-print * {
		display: none !important;
	}
}

h1 {
	font-size: 36px;
	font-weight: 900;
	line-height: 38px;
}

h2 {
	font-size: 32px;
	font-weight: 800;
	line-height: 36px;
}

h3 {
	font-size: 28px;
	font-weight: 400;
	line-height: 34px;
}

h4 {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}

h5 {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}

h6 {
	font-size: 18px;
	font-weight: 400;
	line-height: 16px;
}
.h7 {
	font-size: 16px;
	line-height: 16px;
}
